body {
  font-family: sans-serif;
}

.dev-container{
  width: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.date{
  font-weight: 100;
  font-size: 20px;
  vertical-align: center;
}

.scripture{
  margin-top: 5%;
}